html,body {
  height: 100%;
}

h1.custom-header {
  padding-left: 10px;
  margin-top: 1.5rem;
}

.main {
  height: 100%;
  margin-left: 12px !important;
  margin-right: 12px !important;
}

.contents-area {
  height: 100%;
  border-top: 1px solid #e0e0e0;
  margin-top: 20px;
}

.contents-area>.left-area {
  border-right: 1px solid #e0e0e0;
  padding: 0px;
}

.left-area>.tabs>ul {
  line-height: 2.8;
}