html,body {
  height: 100%;
}

h1.custom-header {
  padding-left: 10px;
  margin-top: 1.5rem;
}

.main {
  height: 100%;
  margin-left: 12px !important;
  margin-right: 12px !important;
}

.contents-area {
  height: 100%;
  border-top: 1px solid #e0e0e0;
  margin-top: 20px;
}

.contents-area > .left-area {
  border-right: 1px solid #e0e0e0;
  padding: 0px;
}

.left-area > .tabs > ul {
  line-height: 2.8;
}

.left-area > .tab-list-area {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.left-area > .tab-list-area > ul li {
  padding: .30rem .60rem;
}
.left-area>.tab-list-area>ul li.is-select {
  background-color: rgb(202, 241, 255);
}
.left-area > .tab-list-area > ul li:hover {
  background-color: rgb(222, 244, 252);
  cursor: pointer;
}
.left-area > .tab-list-area > ul li > p {
  display: inline-block;
  vertical-align: top;
  height: 32px;
  font-size: 1.2rem;
  padding-top: 3px;
  margin-top: 6px;
  width:80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.left-area > .tab-list-area > ul li > figure {
  display:inline-block;
  margin-top:6px;
}
.left-area > .tab-list-area > ul li > figure > img {
  border-radius:50%;
}


.center-area > .center-table-header {
  font-weight:bold;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}

.center-area .title-area {
  font-size:1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}